.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 11rem 0 11rem;
    
    @media only screen and (max-width: 45rem) {
            flex-direction: column;
            gap: 2rem;
        }
        
    &__logo{
        width: 15rem;
        margin-right: auto;
        display: inline-block;
        z-index: 5;
        
        @media only screen and (max-width: $bp-large) {
            margin-right: 0;
        }
        
        @media only screen and (max-width: 768px) {
            align-self: center;
        }
        
        @media only screen and (max-width: 450px) {
            margin-left: -12rem;
        }
    }
        
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
//        flex-wrap: wrap;
        gap: 4rem;
        
        @media only screen and (max-width: $bp-large) {
            gap: 2rem;
        }
        
        @media only screen and (max-width: 768px) {
            display: none;
        }
        
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
            gap: 2.5rem;
        }
    }
        
    &__item{
        list-style: none;
        position: relative;
        z-index: 10;
            
        &-arrow{
            width: .8rem;
            height: .8rem;
            fill: #fff;
            margin-left: 3px;
        }
    }
        
    &__link{
        text-decoration: none;
        display: inline-block;
        font-size: 1.4rem;
        color: #fff;
    }
    
    &__sub-list{
        width: 7rem;
        position: absolute;
        top: 2.2rem;
        background-color: blueviolet;
        z-index: 10;
        display: none;
    }
        
    &__sub-item{
        list-style: none;
        padding: 1rem 1rem .8rem 0;
        color: #fff;
        font-size: 1.4rem;
        display: list-item;
        z-index: 10; 
    }
    
    &__item:hover &__sub-list{
        display: block;
    }
    
    &__btn{
        margin-left: 4rem;
        
        @media only screen and (max-width: $bp-large) {
            margin-left: 0;
        }
        
        @media only screen and (max-width: 768px) {
        display: none;
    }
    }
}


.header{
    max-width: 100%;
    position: relative;
    background-color: $color-primary;
    border-bottom-left-radius: 6.5rem;
    border-bottom-right-radius: 6.5rem;
    margin-bottom: 10rem;
    overflow: hidden;
    
    &__content{
        max-width: 1124px;
        margin: 8rem auto 13rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
//        padding: 8rem 11rem 12rem 11rem;
        
        @media only screen and (max-width: 768px ) {
            gap: 5rem;
            flex-direction: column-reverse;
            justify-content: center;
            margin: 8rem 3rem 13rem;
        }
    }
    
    &__heading{
        font-size: 4rem;
        color: #fff;
        line-height: 1.2;
        margin-bottom: 2rem;
        font-family: $font-hding-primary;
        z-index: 5;
    }

    &__text{
        font-size: 2rem;
        color: #fff;
        margin-bottom: 5rem;
        z-index: 5;
    }
    
    &__btn-box{
        
        @media only screen and (max-width: 38.5rem) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }
    }
    
    &__btn-1{
        font-size: 1.6rem;
        color: $color-btn-secondary;
        margin-right: 1rem;
        font-weight: 600;
        padding: 1.1rem 3rem;
    }
    
    &__btn-2{
        background-color: $color-btn-secondary;
        font-size: 1.6rem;
        color: #fff;
        font-weight: 600;
        padding: 1.1rem 3rem;
        
        @media only screen and (max-width: 38.5rem){
            padding: 1.2rem 3.8rem;
        }
    }
    
    &__mac{
        max-width: 65rem;
        z-index: 5;
        margin-right: -25rem;
        
        @media only screen and (max-width: $bp-large) {
            max-width: 40rem;
            object-fit: cover;
            margin-right: 0;
            margin-top: 5rem;
        }
//        @media only screen and (max-width: 32rem) {
//            max-width: 25rem;
//        }
        
    }
}

.rec-1{
    width: 40%;
    position: absolute;
    top: -45%;
    left: -5%;
    z-index: 1;
}

.rec-2{
    width: 35%;
    position: absolute;
    top: -59%;
    right: -10%;
    z-index: 1;
}

.rec-3{
    width: 45%;
    position: absolute;
    bottom: -40%;
    left: 55%;
    transform: translateX(-50%);
    z-index: 1;
}

.rec-4{
    width: 40%;
    position: absolute;
    bottom: -18%;
    right: -45%;
    transform: translateX(-50%);
    z-index: 1;
}